/*p::after{
	content: "hello mgmg";
	font-size: 20px;
}
p::before{
	content: "hello mgmg ";
	font-size: 20px;
}
p::first-line{
	color: red;
}
p::selection{
	background-color: red;
	color: green;
	font-size: 30px;
}*/
p{
	background-color: red;
	transition: background-color 2s linear 2s,color 2s linear 2s;
}
p:hover{
	background-color: green;
	color: orange;
}
div{
/*	margin-left: 500px;*/
	width: 100px;
	height: 100px;
	background-color: red;
	transition: transform 2s linear;
}
div:hover{
	transform: scaleY(0.5);
}